* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

nav {
  width: 100%;
  overflow: auto;
  background-color: rgb(245, 245, 245);
  display: flex;
}

.company-name {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #F7891c;
}

nav a:first-child {
  text-decoration: none;
}

h1, h2 {
  padding: 2rem 1rem;
}

.page-image {
  max-height: 20rem;
  min-width: 100%;
  object-fit: cover;
}